# Test data directories (ignore contents)
**/test_data/**

# Python cache files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
.Python

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
**/V1.osp
**/.bash_history
**/.bashrc
**/*.log

*.mp4
*.osp
