# Test data directories (ignore contents)
**/test_data/**
**/openshot.settings
# Python cache files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
.Python

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
**/.bash_history
**/.bashrc
**/*.log

# Generated audio and video files
*.wav
*.mp3
*.mp4
*.osp
*.bmp
*.png
*.jpg
*.jpeg
*.avi
*.mkv
*.mov
*.flv
*.wmv
*.svg
